// app global css in SCSS form
// app global css in SCSS form
.font-main {
  font-family: 'NotoSansKR';
  color: #222;
}

.text-underline {
  text-decoration: underline;
}

.borderd {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.dialog-border {
  border-radius: 1rem;
}

.dialog-name {
  font-weight: bold;
  font-family: 'NotoSansKR';
  font-size: 1rem;
}
.dialog-caption {
  font-family: 'NotoSansKR';
  font-size: 10px;
}

.sans-font {
  font-family: 'NotoSansKR';
}
.font-sans {
  font-family: 'NotoSansKR';
}
.caption {
  font-size: 0.7rem;
}

.card-name {
  font-family: 'NotoSansKR';
  font-size: 1rem;
  font-weight: 600;
}

.table-name {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'NotoSansKR';
}
